/* BODY */
/* ============================================================================================================ */

.bandeau {
    height: 65vh;
    background-image: url(./tous-les-lieux-images/tous-les-lieux.jpg);
    background-size: cover;
}

.btn {
    color: #ffffff;
    background-color: #a22f2f;
    width: 12vw;
    border-radius: 30px;
    margin-top: 190px;
}

.bandeau h1 {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}

.bandeau p {
    color: #ffffff;
}

.bandeau span {
    font-weight: bold;
}


/* Carousel */
/* -------------------------------------------------------------------------------------------------------------------------- */

.carousel-item img {
    width: 30vw;
    border-radius: 30px;
}

.carousel-item a {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    
}

.carousel-item p {
    color: #ffffff;
}