/* BODY */
/* ============================================================================================================ */

.bandeau {
    border-color: #707070;
    border-style: solid;
    border-width: 2px;
}

.texte-bandeau {
    margin-top: 50px;
    margin-left:50px;
    padding-top: 50px;
    padding-left: 50px;
}

.bandeau .btn {
    color: #ffffff;
    background-color: #a22f2f;
    width: 12vw;
    border-radius: 30px;
    margin-top: 250px;
    margin-left: 30px;
}

.bandeau h4 {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    margin-left: 40px;
    padding-top: 50px;
    padding-left: 50px;
}

.bandeau p {
    color: #000000;
    font-size: 15px;
    margin-left: 40px;
    padding-left: 50px;

}

/* CARTES CADEAUX */
/* ============================================================================================================ */

.cartes-cadeaux h1 {
    color: #1c996d;
    font-size: 40px;
    font-weight: bold;
}

.cartes-cadeaux hr {
    color: #5d5a5a;
    width: 90px;
}

.carte-cadeaux {
    border-color: #707070;
    border-style: solid;
    border-width: 2px;
}

.carte-cadeaux img {
    border-right-color: #707070;
    border-right-style: solid;
    border-right-width: 2px;
}

.carte-cadeaux h3 {
    color: #b3b3b3;
    font-size: 20px;
    font-style: italic;
}

.carte-cadeaux h2 {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
}

.carte-cadeaux a {
    color: #ffffff;
    font-size: 20px;
    background-color: #1c996d;
}

.carte-cadeaux ul {
    list-style: none;
    color: #000000;
    font-size: 20px;
    line-height: 60px;
}

.carte-cadeaux p {
    color: #000000;
    font-size: 20px;
}

.carte-cadeaux p i {
    color: #a22f2f;
    font-size: 50px;
}

.carte-cadeaux p span{
    font-weight: bold;
}


/* MEDIA QUERIES */
/* ============================================================================================================ */

@media screen and (max-width: 1620px) {

    .bandeau .btn {
        margin-top: 150px;
        width: 15vw;
    }
}

@media screen and (max-width: 1380px) {
    
    .bandeau .btn {
        margin-top: 50px;
        margin-left: 20px;
        width: 20vw;
    }

    .bandeau h4 {
        margin-left: 0px;
        padding-left: 20px;
    }

    .bandeau p {
        margin-left: 0px;
        padding-left: 20px;
    }
}

@media screen and (max-width: 1060px) {

    .bandeau .btn {
        margin-top: 0;
        margin-left: 10px;
    }
}

@media screen and (max-width: 906px) {
    
    .texte-bandeau {
        margin-top: 0px;
        margin-left: 30px;
    }

    .bandeau .btn {
        margin-left: 0px;
    }

    .bandeau h4 {
        font-size: 20px;
        margin-left: 0px;
        padding-top: 10px;  
    }

    .bandeau p {
        font-size: 10px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 550px) {
    
    .texte-bandeau {
        margin-left: 0px;
        padding-top: 20px;
        padding-left: 10px;
    }

    .bandeau .btn {
        width: 45vw;
        margin-top: 10px;
    }
}

@media screen and (max-width: 390px) {
    
    .texte-bandeau {
        padding-top: 0px;
        padding-left: 1px;
    }

    .bandeau .btn {
        width: 55vw;
        margin-top: 1px;
    }

    .bandeau h4 {
        padding-top: 2px;  
    }

    .bandeau p {
        background: rgba(255, 255, 255, 0.35);
    }
}