/* BODY */
/* ============================================================================================================ */

.bandeau {
    height: 65vh;
    background-image: url(images-offrir/offrir.jpg);
    background-size: cover;
    border-color: #707070;
    border-style: solid;
    border-width: 2px;
}

.btn {
    color: #ffffff;
    background-color: #a22f2f;
    width: 12vw;
    border-radius: 30px;
    margin-top: 190px;
}

.bandeau h1 {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
}

.bandeau p {
    color: #000000;
}

/* CARTES CADEAUX */
/* ============================================================================================================ */

.cartes-cadeaux h1 {
    color: #1c996d;
    font-size: 30px;
    font-weight: bold;
}

.carte-cadeaux {
    border-color: #707070;
    border-style: solid;
    border-width: 2px;
}

.carte-cadeaux img {
    border-right-color: #707070;
    border-right-style: solid;
    border-right-width: 2px;
}

.carte-cadeaux h3 {
    color: #b3b3b3;
    font-size: 20px;
    font-style: italic;
}

.carte-cadeaux h2 {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
}

.carte-cadeaux a {
    color: #ffffff;
    font-size: 20px;
    background-color: #1c996d;
}

.carte-cadeaux ul {
    list-style: none;
    color: #000000;
    font-size: 20px;
    line-height: 60px;
}

.carte-cadeaux p {
    color: #000000;
    font-size: 20px;
}

.carte-cadeaux p i {
    color: #a22f2f;
    font-size: 50px;
}

.carte-cadeaux p span{
    font-weight: bold;
}