/* ====================PAGE DE STYLE APPLICABLE A TOUTES LES PAGES DU SITE======================================================= */

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding-top: 55px;
    overflow-x: hidden; 
}


/* NAVBAR */
/* ----------------------------------------------------------------------------------------------------------------------------                        */

nav {
  background-color: #d9d9d9;
  border-color: #707070;
}

.navbar-nav {
  margin-right: 100px;
}

nav img {
  width: 7vw;
  margin-left: 150px;
}

.navbar-nav a {
  color: #1c996d;
  font-size: 20px;
  font-weight: bold;
  margin-right: 50px;
}

.navbar-nav a:hover {
    transform: scale(1.8);
    transition: 1.5s;
}

#hamburger {
  background-color: #1c996d;
  color: #1c996d;
  margin-right: 30px;
}

#hamburger:hover {
  transform: scale(1.2);
  transition: 1.5s;
}

nav i {
  color: #1c996d;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* TEXTES */
/* ----------------------------------------------------------------------------------------------------------------------------                        */

body {
  font-family: "Roboto Slab";
}


/* FOOTER */
/* ----------------------------------------------------------------------------------------------------------------------------                        */

footer {
  background-color: #1c996d;
  border-color: #707070;
}

footer img {
  width: 150px;
}

footer p {
  color: #ffffff;
  font-size: 10px;
}

/* MEDIA QUERIES */
/* ----------------------------------------------------------------------------------------------------------------------------                        */

@media screen and (max-width: 1310px) {

  .navbar-nav {
    margin-right: 30px;
  }

  nav img {
    width: 8vw;
    margin-left: 70px;
  }

  .navbar-nav a {
    margin-right: 20px;
  }
}

@media screen and (max-width: 978px) {

  .navbar-nav {
    margin-right: 20px;
  }

  nav img {
    margin-left: 40px;
  }

  .navbar-nav a {
    margin-right: 20px;
  } 
 
}

@media screen and (max-width: 767px) {
  nav img {
    width: 15vw;
    margin-left: 30px;
  }
}

@media screen and (max-width: 575px) {
  nav img {
    width: 20vw;
  }
}

