/* ====================PAGE DE STYLE APPLICABLE A TOUTES LES PAGES DU SITE======================================================= */

/* NAVBAR */
/* ----------------------------------------------------------------------------------------------------------------------------                        */

nav {
  background-color: #d9d9d9;
  border-color: #707070;
}

nav img {
  width: 130px;
  margin-left: 150px;
}

.navbar-nav a {
  color: #1c996d;
  font-size: 30px;
  font-weight: bold;
}

#hamburger {
  background-color: #1c996d;
  color: #1c996d;
  margin-right: 30px;
}

nav i {
  color: #1c996d;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

/* TEXTES */
/* ----------------------------------------------------------------------------------------------------------------------------                        */

body {
  font-family: "Roboto Slab";
}


/* FOOTER */
/* ----------------------------------------------------------------------------------------------------------------------------                        */

footer {
  background-color: #1c996d;
  border-color: #707070;
}

footer img {
  width: 150px;
}

footer p {
  color: #ffffff;
  font-size: 20px;
}

/* MEDIA QUERIES */
/* ----------------------------------------------------------------------------------------------------------------------------                        */

@media screen and (min-width: 767px) {

  .navbar-nav {
    margin-right: 100px;
  }

  .navbar-nav a {
    margin-right: 50px;
  }
 
}

@media screen and (max-width: 767px) {
  nav img {
    margin-left: 30px;
  }
}